@font-face {
    font-family: aloevera;
    src: url(assets/aloevera.ttf);
}

@font-face {
    font-family: cheva;
    src: url(assets/cheva.otf);
}

@font-face {
    font-family: destine;
    src: url(assets/destine.otf);
}

@font-face {
    font-family: girlas;
    src: url(assets/girlas.otf);
}

@font-face {
    font-family: kayonest;
    src: url(assets/kayonest.ttf);
}

@font-face {
    font-family: romance_logic;
    src: url(assets/romance_logic.ttf);
}