#nav-bar {
    width: 100vw;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    font-family: 'destine';
}

#logo {
    width: 64px;
    height: 64px;
    padding: 32px;
}

#menu-button {
    color: #0656d6;
    background: transparent;
    border: none;
    font-family: 'destine';
    font-size: 32px;
    padding: 32px;
    transition: transform 0.5s;
}

#menu-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#menu-overlay {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #d3edb9;
    
    width: 100vw;
    height: 0vh;
    overflow-x: hidden;

    position: fixed;
    z-index: 1;

    transition: 0.5s;
}

#contact {
    color: #0656d6;
}

#contact h2 {
    font-family: 'destine';
    font-weight: bold;
    font-size: 48px;
}

#contact p {
    font-family: 'kayonest';
    font-size: 24px;
}

#links {
    color: #0656d6;
    display: flex;
    flex-direction: column;
    font-family: 'romance_logic';
    font-weight: bold;
    font-size: 28px;
}

#links a {
    margin: 8px; 
}

#links h2 {
    display: inline;
    font-size: 48px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 16px;
}

.icons a:hover {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #logo {
        width: 48px;
        height: 48px;
        padding: 24px;
    }
    
    #menu-button {
        font-size: 28px;
        padding: 24px;
    }

    #menu-overlay {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact h2 {
        font-size: 36px;
    }

    #contact p {
        font-size: 18px;
    }
    
    #links {
        font-size: 22px;
    }

    #link h2 {
        font-size: 36px;
    }
} 
