body {
    display: block;
    height: 100vh;
    width: 100vw;
}

#images-container {
    position: absolute;
    left: 10vw;
    top: 15vh;
    display: flex;
    gap: 4vmin;
}

#images-container img {
    width: 20vw;
    height: 30vw;
    object-fit: cover;
    background-color: white;
    padding: 2vw 2vw 4vw 2vw;
}

#bounce-container,
#luigi {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.x {
  animation: x 5s linear infinite alternate;
}

.y {
  animation: y 3s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 150px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 150px) );
  }
}

@media screen and (max-width: 768px) {
    #images-container {
        flex-direction: column;
        left: 15vw;
    }

    #images-container img {
        width: 70vw;
        height: 60vh;
    }
}