body {
    box-sizing: border-box;
    background-color: #fcf0cc;
    height: 200vh;
    margin: 0;
    position: relative;  
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0656d6;
}

.page-content {
    position: absolute;
    left: 10vw;
    top: 25vh;
    padding-bottom: 24px;
}
