body {
    box-sizing: border-box;
    background-color: #fcf0cc;
    height: 200vh;
    margin: 0;
    position: relative;  
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #0656d6;
}

.page-content {
    width: 80vw;
    height: fit-content;
    padding-top: 84px;
    padding-bottom: 24px;
}

.page-header {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 24px;
    font-family: 'romance_logic';
    font-style: oblique;
    font-size: 2vw;
    color: #0656d6;
}

@media screen and (max-width: 800px) {
    .page-content {
        position: absolute;
        width: 80vw;
        left: 9vw;
        top: 10vh;
        padding-bottom: 24px;
    }

    .page-header {
        font-size: 3vw;
    }
}
